<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type='text/css' href="../static/css/index.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap"
        rel="stylesheet">

    <title>PseduoCode</title>


</head>

<body>

    <div class="card-container">
        <textarea class="card" id="input" placeholder="Enter your Pseudocode here"></textarea>
        <textarea class="card" id="output"> </textarea>

        <button id="submit-btn">Generate </button>

    </div>


    <script src="../static/js/index.js"></script>

</body>


</html>